footer {
    background: hsl(240, 10%, 16%);

    display: flex;
    align-items: top;
    justify-content: center;

    flex-direction: column;

    padding: 3rem 0;

    border-top-right-radius: 7rem;

    color:  hsl(240, 2%, 79%);

    text-align: center;
}

footer ul {
    list-style: none;

    margin: 2rem;
}

footer p{
    font-weight: 600;
    margin-bottom: 1.5rem;
}

footer ul li{
    margin: .65rem auto;
    cursor: pointer;
}

.footer-items li:hover{
    text-decoration: underline;
}

@media (min-width: 965px) {
    footer{
        flex-direction: row;
        justify-content: stretch;
        
        margin: 0 auto;
        padding: 3rem 4rem;
    }

    footer ul{
        margin: 0 auto;
    }

    footer figure{
        padding-left: 5rem;
    }
    
    .footer-items{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 150px;

        justify-content: space-between;
        align-items: top;
        text-align: left;   
    }

    .product{
        grid-column: 2/3;
    }

    .company{
        grid-column:3/4;
    }

    .connect{
        grid-column: 4/5;
    }
}