* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
    font-size: 16px;
}

::-webkit-scrollbar{
    display: none;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    width: 100%;
}

.invisible {
    display: none;    
    visibility: hidden;
}

.visible {
    visibility: visible;
    display: block;
    
    transform: all 0.2s ease-in-out 0.3s;
}

.space{
    margin-bottom: 15rem;
}

.rotate-arrow{
    transform: rotate(180deg);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

section {
    margin: 2rem auto;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

section h2 {
    font-size: 1.8rem;
    font-weight: 600;

    color: hsl(208, 49%, 24%);

    line-height: 1.5;

    word-break: break-word;
    text-align: center;

    width: 60%;

    margin: 2rem auto;
}

section p {
    font-weight: 300;
    color: hsl(208, 49%, 24%);

    line-height: 2;

    text-align: center;
    width: 25rem;

    margin: 0 auto;
}
